@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.page {
    height: 100vh;
    width: 100vw;
}

.Searchbar  {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%);

    width: 80vw;
    max-width: 1000px;
    
}

@media only screen and (min-width: 600px) {
    .Searchbar {
        top: 40%;
        left: 50%;
        transform: translate(-50%);
    }
}

html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}