@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.page {
    height: 100vh;
    width: 100vw;
}

.widgets {
    position: relative;
    top: 1rem;
    left: 50%;
    transform: translate(-50%);

    max-width: 1000px;
    width: calc(100vw - 2rem);
    height: auto;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.widgets #blurred {
    background-color: transparent;
    border-radius: 0.25rem;
    backdrop-filter: blur(25px);
    color: white;
}

.widget {
    color: theme("colors.white");
    background-color: theme("colors.slate.800");
    border-radius: 1rem;
    border: 2px solid theme("colors.accent");
    padding: 0.75rem;
    margin: 1rem;
}

.light .widget {
    color: theme("colors.black");
    background-color: theme("colors.white");
}

.Searchbar {
    grid-column-start: 1;
    grid-column-end: end; 
    margin: 1rem;
}



@media only screen and (min-width: 600px) {
    .widgets {
        top: 30vh;
    }
}

html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
